[submodule "warc2text"]
	path = warc2text
	url = https://github.com/bitextor/warc2text
[submodule "bifixer"]
	path = bifixer
	url = https://github.com/bitextor/bifixer
[submodule "biroamer"]
	path = biroamer
	url = https://github.com/bitextor/biroamer
[submodule "preprocess"]
	path = preprocess
	url = https://github.com/kpu/preprocess
[submodule "neural-document-aligner"]
	path = neural-document-aligner
	url = https://github.com/bitextor/neural-document-aligner.git
[submodule "vecalign"]
	path = bitextor/vecalign
	url = https://github.com/thompsonb/vecalign.git
[submodule "LASER"]
	path = bitextor/LASER
	url = https://github.com/facebookresearch/LASER.git
